<launch>
    <!-- <arg name="venv" value="$(find perception)/yolo_venv/bin/python3"/> -->
    <!-- set the ip of your airsim host,example:"192.168.1.5" -->
    <arg name="listen_ip" default="0.0.0.0"/>
    <arg name="listen_port" default="9000"/>
    <node name="udp2ros_node" pkg="perception" type="gimbal_ros_wrapper.py">
        <param name="~listen_ip" value="$(arg listen_ip)" />
        <param name="~listen_port" value="$(arg listen_ip)" />
    </node>
    <node name="gimbal_controller" pkg="perception" type="gimbal_controller.py" output="screen">
    </node>
    <node pkg="easysim_ros_wrapper" type="image_ros_wrapper" name="image_ros_wrapper" output="screen">
    </node>
</launch>