<launch>
    <!-- 启动perception节点 -->
    <arg name="venv" value="$(find perception)/yolo_venv/bin/python3"/>
    <!-- <node name="perception_node" pkg="perception" type="perception.py" output="screen" launch-prefix = "$(arg venv)" >
    </node> -->
    <node name="perception_node" pkg="perception" type="perception_all_in_one.py" output="screen" launch-prefix = "$(arg venv)" >
    </node>
</launch>


