<!-- <launch>
    <arg name="remote_ip" default="127.0.0.1"/>
    <node name="perception_node" pkg="perception" type="perception_all_in_one.py" output="screen">
        <param name="remote_ip" value="$(arg remote_ip)"/>
    </node>
</launch> -->

<!-- <launch>
    <arg name="remote_ip" default="127.0.0.1"/>
    <arg name="venv" value="$(find perception)/yolo_venv/bin/python3"/>
    <node name="perception_node" pkg="perception" type="perception_all_in_one.py" output="screen" launch-prefix = "$(arg venv)" >
        <param name="remote_ip" value="$(arg remote_ip)"/>
    </node>
</launch> -->

<launch>
    <arg name="venv" value="$(find perception)/yolo_venv/bin/python3"/>
    <node name="airsim_wrapper_node" pkg="perception" type="airsim_ros_wrapper.py" output="screen" launch-prefix = "$(arg venv)" >
    </node>
    <arg name="remote_ip" default="127.0.0.1"/>
    <node name="perception_node" pkg="perception" type="perception_all_in_one.py" output="screen" launch-prefix = "$(arg venv)" >
        <param name="remote_ip" value="$(arg remote_ip)"/>
    </node>
       <!-- <node name="easysim_ros_wrapper" pkg="easysim_ros_wrapper" type="easysim_ros_node" output="screen">
        <param name="ip_address" value="127.0.0.1"/>
        <param name="port" value="50502"/>
        <param name="timer_duration" value="0.01"/>
        <param name="coordinate_frame" value="world_enu"/>
    </node> -->
</launch>