<launch>
    <!-- 启动 talker 节点 -->
    <node name="receiver" pkg="image_receiver" type="talker" output="screen">
        <!-- 可以在这里添加参数或重映射 -->
    </node>

    <!-- 启动 listener 节点 -->
    <node name="listener" pkg="my_robot" type="listener" output="screen">
        <!-- 可以在这里添加参数或重映射 -->
    </node>
</launch>